[submodule "allocators/jemalloc"]
	path = allocators/jemalloc
	url = https://github.com/JoshuaRadin37/jemalloc.git
	branch = master
[submodule "allocators/lrmalloc.rs"]
	path = allocators/lrmalloc.rs
	url = https://github.com/JoshuaRadin37/lrmalloc.rs.git
	branch = master
