[submodule "allocators/jemalloc"]
	path = allocators/jemalloc
	url = https://github.com/JoshuaRadin37/jemalloc.git
	branch = master
[submodule "allocators/apfmalloc"]
	path = allocators/apfmalloc
	url = https://github.com/JoshuaRadin37/lrmalloc.rs.git
	branch = master
[submodule "allocators/lrmalloc"]
	path = allocators/lrmalloc
	url = https://github.com/ricleite/lrmalloc.git
	branch = master
